body {
    background-color: #3B4953;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    min-width: 280px;
}
 #mn-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 #watch-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
 }
 .time-container{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 17vw;
    line-height: 1;
    
 }
.time-title-label{
    display: block;
    font-size: xx-large;
    text-align: right;
}
.btn-container{
    margin: 60px 0;
}
.colon{
    display: flex;
    align-items: center;
    margin-bottom: 60px;

}
button{
    font-family: 'GT Haptik Medium', sans-serif;
    font-size: 27px;
    font-weight: 200;
    border:200px;
    color: white;
    padding: 1.25rem 2.5rem;
    min-width: 250px;
    height: auto;
    border-radius: 200px;
    margin: 20px;
}
.start-btn{
background-color:#24bf3bd1;
transition:background-color 0.4s ease;

}
.start-btn:hover{
    background-color:#0d3813;
}
.reset-btn{
    background-color: #0d3813;
    transition:background-color 0.4s ease;
}
.reset-btn:hover{
    background-color: #ffffff;
    color: #24bf3bd1;
}
#date-ctn{
    display: flex;
    justify-content: center;
    background-color: #EBE1D1;
    color: black;
}
.layer{
    width:100%;
    height:100vh;
}
