body {
    background-color: #1f282a;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    min-width: 280px;
}
 #mn-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
 }
 .watch-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
 }
 .time-container{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 17vw;
    line-height: 1;
    
 }
.time-title-label{
    display: block;
    font-size: xx-large;
    text-align: right;
}
.btn-container{
    margin: 60px 0;
}
.colon{
    display: flex;
    align-items: center;
    margin-bottom: 60px;

}

